@media screen and (max-width: 1220px) {
    
}

@media screen and (max-width:750px) {    
    
    header h1 {        
        text-align: center;
    }

    header p {
        margin: 0 0 40px 5px;
        text-align: center;
    }

    header nav {
        position: absolute;
        top: 110px;
        left: 25%;        
    }

    #spacer .spacer-wrapper form input {
        width: 300px;
    }
    
    #three-columns .three-columns-wrapper article {    
    float: none;
    width: 450px;
    margin: 0 auto 20px;
    }
    
    .row p {
        margin-left: 100px;
    }   
}

@media screen and (max-width: 500px) {
    
    header {
        margin-top: 60px;        
    }

    header h1 {
        font-size: 40px;
        padding-left: 10px;
        text-align: center;
    }

    header p {
        float: none;
        font-size: 15px;
        padding-left: 10px;
    }

    header nav {        
        display:none;
    }

    .toggleMobile {
        position: fixed;
        top: 10px;
        left: 10px;
        display: block;
        width: 40px;
        height: 36px;
        cursor: pointer;
        z-index: 999;
    }

    .toggleMobile span.symbol-bar1, .toggleMobile span.symbol-bar2, .toggleMobile span.symbol-bar3 {
        display: block;
        position: absolute;
        width: 40px;
        height: 8px;
        left: 0;
        background: #eda28c;
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    }

    .toggleMobile span.symbol-bar1 {
        top: 0;
    }

    .toggleMobile span.symbol-bar2 {
        top: 14px;
    }

    .toggleMobile span.symbol-bar3 {
        top: 28px;
    }

    .toggleMobile.active span.symbol-bar1 {
        /* when .toggleMobile gets active in script.js */
        top: 14px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }

    .toggleMobile.active span.symbol-bar2 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    }

    .toggleMobile.active span.symbol-bar3 {
        opacity: 0;
        -webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    }

    #mobileMenu {
        display: block;
        z-index: 99;
    }      
    
    #spacer {
        height: 63px;
        padding-bottom: 15px;
    }
    #spacer .spacer-wrapper form input {
        width: 150px;
    }

    #three-columns .three-columns-wrapper article {      
    float: none;
    width: 83%;
    margin-left: 7%;
    }
    
    /* ONE BIG TWO SMALL */
    .obts-wrapper article {
        width: 80%;
    }   
}
