body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
p {
    margin: 5px 0;
    line-height: 23px;
}
a {
    text-decoration: none;
    color: inherit;
    transition: color .5s ease;
}

strong {
    font-weight: bold;
}

header {
    position: relative;
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    padding: 18px 0 7px 19px;
    font-family: 'Montserrat', cursive;
    font-size: 45px;
    color: #999;
}

header p {
    padding: 0 0 7px 142px;
    font-size: 19px;
}

nav {
    position: absolute;
    right: 0;
    bottom: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: block;
    float: left;
    padding: 3px 15px;
}

nav ul li a {
    text-transform: uppercase;
    transition: all .25s ease;
}

nav ul li a:hover {
    color: #8080ff;
}

#img1 {
    height: 5em;
}

#img3 {
    height: 4em;
}

#mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#mobileMenu ul li {
    display: block;
    background: #e56038;
    color: #fff;
    padding: 12px 0;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #cc5836;
}

.toggleMobile {
    display: none;
}

#spacer {
    position: relative;
    width: auto;
    height: 30px;
    margin: 19px 0 35px 0;
    background: #3A5EAB;
}

#spacer .spacer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#spacer .spacer-wrapper form {
    float: right;
    margin: 23px 15px 25px 0;
}

#three-columns {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

#three-columns .three-columns-wrapper {
    margin-left: -10px;
}

#three-columns .three-columns-wrapper article {
    float: left;
    width: 30%;
    margin-left: 3%;
}

#three-columns article img {
    float: left;
}

#three-columns article h3 {
    margin: 0 0 10px 75px;
    font-size: 20px;
}

#three-columns article p {
    margin-left: 75px;
}

#obts {
    width: auto;
    max-width: 1200px;
    margin: 0 auto 30px;    
}

.obts-wrapper {
    margin: 32px 0 0 23px;
}

.obts-wrapper article {
    float: left;
    width: 43%;
}

.obts-wrapper .ts {
    float: left;
}

.obts-wrapper article h3 {
    line-height: 12px;
    font-size: 22px;
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 0;
    margin-bottom: 10px;
}


.row {
    position: relative;
    margin: 25px 0 0 60px;
    width: 360px;
}

.row img {
    float: left;
}

.row p {
    margin-left: 120px;
}

@keyframes stylie-transform-keyframes {
    0% {
        transform: translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);
        animation-timing-function: cubic-bezier(.25, .25, .75, .75);
    }
    100% {
        transform: translateX(260px) translateY(-150px) rotate(0deg) translate(-50%, -50%);
    }
}

@keyframes stylie-transform2-keyframes {
    0% {
        transform: translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);
        animation-timing-function: cubic-bezier(.25, .25, .75, .75);
    }
    100% {
        transform: translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);
    }
}

.clear {
    clear: both;
}

* {
    xborder: 1px solid red !important;
}
