@media screen and (max-width: 1220px) {
    
}

@media screen and (max-width:750px) {    
    
    header h1 {        
        text-align: center;
    }

    header p {
        margin: 0 0 40px 5px;
        text-align: center;
    }

    header nav {
        position: absolute;
        top: 110px;
        left: 25%;        
    }

    #spacer .spacer-wrapper form input {
        width: 300px;
    }
    
    #three-columns .three-columns-wrapper article {    
    float: none;
    width: 450px;
    margin: 0 auto 20px;
    }
    
    .row p {
        margin-left: 100px;
    }   
}

@media screen and (max-width: 500px) {
    
    header {
        margin-top: 60px;        
    }

    header h1 {
        font-size: 40px;
        padding-left: 10px;
        text-align: center;
    }

    header p {
        float: none;
        font-size: 15px;
        padding-left: 10px;
    }

    header nav {        
        display:none;
    }

    .toggleMobile {
        position: fixed;
        top: 10px;
        left: 10px;
        display: block;
        width: 40px;
        height: 36px;
        cursor: pointer;
        z-index: 999;
    }

    #mobileMenu {
        display: block;
        z-index: 99;
    }      
    
    #spacer {
        height: 1em;
        padding-bottom: 15px;
    }
    #spacer .spacer-wrapper form input {
        width: 150px;
    }

    #three-columns .three-columns-wrapper article {      
    float: none;
    width: 83%;
    margin-left: 7%;
    }
    
    .obts-wrapper article {
        width: 80%;
    }   
}
