{% extends "_base.html" %}

{% block content %}
<div class="flex justify-center w-4/5 mx-auto pt-24">
    <img src="static/img/coqui_sign_banner.png">
</div>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white pl-3 pr-3 pt-10">Grand Opening</h1>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    San Antonio, Texas just got a new addition to the nightlife scene, and it's one that you won't want to miss. Introducing Coqui, a Puerto Rican-themed bar that brings the island's vibrant culture and flavors to your glass. The bar is located in the heart of the city, and it's the perfect spot for a fun night out with friends, a romantic date, or a casual meal with family.
</p>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    The decor of Coqui is a tribute to the island, with colorful murals and tropical plants that transport you to the Caribbean. The bartenders are experts in creating traditional Puerto Rican cocktails, and they use only the freshest ingredients and authentic techniques to give you the best possible taste of the island. You can enjoy signature drinks like the Pina Colada, Coquito, or the classic Mojito Criollo. Coqui also offers a selection of beer and wine to cater to all tastes.
</p>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    Coqui's atmosphere is lively and upbeat, with a diverse crowd and music to match. It features many genres of music, including Salsa, Merengue, Bachata, Reggaeton, Hip Hop, R&B, Reggae, and Freestyle. Taking it back to 80's, 90's and 2000 hits, the music will transport you to a different time and place. The bar also has two pool tables and dart boards for those who want to enjoy some friendly competition with friends.
</p>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    Coqui's atmosphere is lively and upbeat, with a diverse crowd and music to match. The bar features many genres of music, including Salsa, Merengue, Bachata, Reggaeton, Hip Hop, R&B, Reggae, and Freestyle. Taking it back to 80's, 90's and 2000 hits, the music will transport you to a different time and place. The bar also has two pool tables and dart boards for those who want to enjoy some friendly competition with friends.
</p>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    Coqui is a bar that prides itself on being inclusive and celebrating the Puerto Rican culture. You can expect regular events like salsa nights and live music shows that reflect the island's culture and people. The bar provides a diverse and welcoming environment that makes everyone feel at home.
</p>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    If you're looking for a taste of Puerto Rico without leaving San Antonio, head on over to Coqui. With delicious drinks, a lively atmosphere, and a diverse crowd, this bar will transport you to the island paradise in no time.
</p>
<div class="flex justify-center w-4/5 mx-auto">
    <img src="../static/img/nightlife.jpg">
</div>

<h2 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white pl-3 pr-3 pt-10">Check Out Our Drink Selection</h2>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    The drink menu of the Coqui, a Puerto Rican-themed bar that brings the island's vibrant culture and flavors to your glass. Located in the heart of the city, The Coque is the perfect spot to taste the best traditional Puerto Rican cocktails and spirits.
</p>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    One of the most iconic Puerto Rican drinks is the Pina Colada, a delicious blend of pineapple, coconut cream and white rum. El Boricua's Pina Colada is made with fresh pineapple juice and coconut cream, and it's garnished with a cherry and a pineapple slice. This tropical drink is perfect to enjoy on a hot summer day or to remind you of a beautiful Puerto Rican sunset.
</p>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    Another traditional Puerto Rican drink is the Coquito, a creamy coconut-based cocktail made with rum, sweetened condensed milk, and spices such as cinnamon and nutmeg. This popular holiday drink is usually served during Christmas, but in El Boricua you can enjoy it year-round. The Coquito is smooth, creamy, and flavorful, and it will bring back memories of the island's warm and inviting culture.
</p>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    The bar also serve a variety of other traditional Puerto Rican cocktails such as the "Mojito Criollo" which is a mojito variation made with local rum and the use of local mint to add a local touch to it.
</p>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    For those who prefer a different type of drink, The Coqui also offers a wide selection of rum, tequila, mezcal, whiskey, and gin. They have a variety of Puerto Rican rums and Mezcal, the menu also has a wide selection of tequila, gin, whiskey and other spirits to cater to all tastes.
</p>
<div class="flex justify-center w-4/5 mx-auto">
    <img src="../static/img/crop.jpg">
</div>

<h2 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white pl-3 pr-3 pt-10">Karaoke</h2>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    Some new text that needs to be added
</p>
<div class="flex justify-center w-4/5 mx-auto">
    <img src="../static/img/coqui_bar_area.jpg">
</div>
{% endblock content %}
